

.SecondBlock{

    box-sizing: border-box;
    max-width:90% ;
    margin: auto;
    padding: 30px
   
}



.title{
    margin-top: 0px;
    font-family: Comfortaa;
    color: white;
    font-size: 3.5em;
    text-align: left;

 
}

.paragraph{
    margin-top: 0px;
    font-family: Comfortaa;
    color: white;
 
   
    font-size: 1.3em;
    line-height: 2.031;
    text-align: left;
    
}


.skillsContainer{

    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;

}

.skillsContainer >div{

 
    max-width: 70%;
    margin-top: 5vh;
    color: #420039;
    background-color: white;
    padding: 13px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 1em;
    font-family: Comfortaa;
    font-weight: 900;
    
}



@media (max-width:1000px){

.title{
    font-size: 2em;
   
    text-align: center;
 
}

    .paragraph{
    margin-top: 0px;
    font-family: Comfortaa;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 1em;
    line-height: 2.53;
    margin-bottom: 5.5vh;

   
}

   .skillsContainer {



   
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
  
} 


.skillsContainer >div{

margin: auto;

margin-top: 10px;
font-size: 1em;
  
    
}






    
}