





.Footer{


 display: flex;
 flex-direction: row;
margin:auto;
width: 100%;
background-color: rgba(255, 255, 255, 0.4);
justify-content: space-around;

height: 30vh;

}


.footer_icon{

padding-top:10vh ;


width: 70px;
height: 70px;
max-width: 70px;
max-height: 70px;

}