@import url('https://fonts.googleapis.com/css?family=Actor:400|Comfortaa:400');




.App{
background-color: black;
margin:0px;
height: 120%;

}



a{
    color: white;
    text-decoration: none;
    }